<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.mfonobongumondia.com.tictactoe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="apps.mfonobongumondia.com.tictactoe.TwoPlayers"
            android:label="2 players"
            android:parentActivityName="apps.mfonobongumondia.com.tictactoe.TwoPlayers" />
        <activity android:name="apps.mfonobongumondia.com.tictactoe.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="apps.mfonobongumondia.com.tictactoe.Instructions"
            android:label="Instructions"
            android:parentActivityName="apps.mfonobongumondia.com.tictactoe.TwoPlayers" />
        <activity
            android:name="apps.mfonobongumondia.com.tictactoe.SinglePlayer"
            android:label="Single Player"
            android:parentActivityName="apps.mfonobongumondia.com.tictactoe.TwoPlayers" />
        <activity android:name="apps.mfonobongumondia.com.tictactoe.Ultimate"
            android:parentActivityName="apps.mfonobongumondia.com.tictactoe.Welcome"></activity>
    </application>

</manifest>